body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(249, 239, 219);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgotpassword-container {
    position: relative;
    background-color: rgb(235, 217, 180);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.forgotpassword-container h2 {
    margin-bottom: 20px;
    color: rgb(99, 136, 137);
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #666;
}

.forgotpassword-input {
    width: calc(100% - 40px);
    padding: 15px 10px 15px 40px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
}

.forgotpassword-button {
    width: calc(100% - 20px);
    padding: 15px;
    background-color: #dc3545;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.forgotpassword-button:hover {
    background-color: #c82333;
}
